@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

/* Variables de couleur */
:root {
    --primary-color: #171C3F;
    --secondary-color: #4A4E69;
    --accent-color: #9A8C98;
    --background-color: #f4f6f9;
    --text-color: #333;
    --border-color: #e0e0e0;
    --hover-color: #C9ADA7;
}

.nacolor {
    color: #171C3F;
}

/* Global styles */
body {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--text-color);
}

.bold-heading {
    font-weight: bold !important;
}

/* Heading */
.h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-color);
    font-size: 2rem;
}

/* Global container */
.divGlobal {
    margin-top: 90px;
    width: 95% !important;
    padding: 20px;
    border-radius: 10px;
}

.container3 {
    margin-top: 100px !important;
    width: 90% !important;
}

/* Divider */
.divider2 {
    width: 2px;
    height: auto;
    transition: all 0.3s ease;
}

.close-button {
    color: red;
}

/* Job result row styling */
.job-result-row {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s;
    width: 100%;
}

.job-result-row:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Styling for each block in the row */
.job-result-block {
    flex: 1;
    padding: 15px;
}

/* First block (title and company) */
.job-result-block:nth-child(1) {
    background-color: #f8f9fa;
    border-radius: 10px;
}

/* Second block (skills and description) */
.job-result-block:nth-child(2) {
    background-color: #f8f9fa;
    border-radius: 10px;
    margin-left: 20px;
}

.body1 {
    color: red !important;
    font-size: 20px !important;
    font-weight: bold !important;
}

.matching_skills {
    color: black;
}

.body2 {
    color: green !important;
    font-size: 20px !important;
    font-weight: bold !important;
}

/* Title and Company icons */
.job-title-icon::before,
.job-company-icon::before {
    margin-right: 8px;
}

.job-company-icon::before {
    content: '🏢';
}

/* Title styling */
.job-result-block h6 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--primary-color);
}

/* Company styling */
.MuiTypography-subtitle1 {
    font-size: 1rem;
    color: var(--secondary-color);
    margin-bottom: 10px;
}

/* Button Styling */
.MuiButton-contained {
    color: white;
    background-color: var(--primary-color);
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.MuiButton-contained:hover {
    background-color: var(--hover-color);
    transform: translateY(-3px);
}

.button {
    color: #171C3F !important;
    font-weight: bold !important;
    background-color: white !important;
    border: #171C3F solid 2px !important;
    transition: color 0.3s ease, text-decoration 0.3s ease !important;
}

.button:hover {
    background-color: #171C3F !important;
    color: white !important;
    font-weight: bold !important;
    border: none !important;
}

/* Missing skills and description styling */
.MuiTypography-body1 {
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 10px;
}

/* Pagination styles */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.pagination button {
    color: white;
    background-color: var(--primary-color);
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.pagination button:disabled {
    background-color: #9ca3af;
    cursor: not-allowed;
}

.pagination span {
    font-size: 1rem;
    color: var(--text-color);
}

/* Responsive styles */
@media (max-width: 899px) {
    .divGlobal {
        margin-top: 0px !important;
        width: 100% !important;
        padding: 0px;
    }

    .container3 {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 10px;
    }

    .job-result-row {
        flex-direction: column;
        padding: 10px;
        width: 90%;
        margin: 5px auto;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .job-result-block:nth-child(1) {
        margin: 0;
        padding: 10px;
    }

    .pagination {
        margin-top: 10px;
        gap: 5px;
    }

    .predict_title {
        font-size: 22px !important;
        margin-bottom: 0px !important;
    }

    .table-container {
        margin-top: 5px;
    }

    .job-result-block h6 {
        font-size: 16px;
    }

    .job-result-block .subtitle1 {
        font-size: 16px;
    }

    .button {
        font-size: 12px !important;
    }

    .body1 {
        font-size: 16px !important;
    }

    .body2 {
        font-size: 16px !important;
    }
}

@media (min-width: 900px) {
    .divGlobal {
        margin-top: 0px !important;
        width: 100% !important;
        padding: 0px;
    }

    .container3 {
        align-items: center;
        width: 100%;
        margin-top: 10px;
    }

    .job-result-row {
        padding: 10px;
        width: 90%;
        margin: 5px auto;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .job-result-block {
        padding: 20px;
        margin: 0;
    }
}
